{% extends "layout.html" %} 
{% block contentent %}

<body>
    <div class="container">
        <!--Se crean los botones del formulario-->
        <form action="action_page.php" method="get" class="formulario">
            <!--Se coloca el titulo para ingresar al sistema-->
        <h1 class="index_titulo">Ajustar Inventario</h1>
            <!--Etiqueta e input para el nombre del IdProducto-->
            <label for="idproducto" class="ajustar_i__etiquetas">IdProducto</label><br>
            <input type="text" id="mi_id" name="mi_id" placeholder="Id del producto" class="ajustar_i__input"><br><br>
            <!--Etiqueta e input para el nombre del producto-->
            <label for="nombre" class="ajustar_i__etiquetas">Nombre del producto</label><br>
            <input type="text" id="mi_nombre" name="mi_nombre" placeholder="Se trae el nombre del producto para verificar que si sea el indicado" class="ajustar_i__input"><br><br>
            <!--Etiqueta e input para la nueva cantidad-->
            <label for="cantidad" class="ajustar_i__etiquetas">nueva Cantidad</label><br>
            <input type="text" id="mi_cantidad" name="mi_cantidad" placeholder="Indique la nueva cantidad, debe de ser un numero entero positivo." class="ajustar_i__input"><br><br>
            <!--Boton para ir al siguiente formulario-->
            <button class="ajustar_i__boton">
                <a target="_blank" href="ConsultaInventario.html"> Aceptar</a>  
            </button><br><br>
            <!--Pendiente como hacer que se vea como un boton-->
            <button class="ajustar_i__boton">
                <a  href="AjustaInventario.html"> Cancelar</a>  
            </button>     
        </form> 
    </div>
</body>
{% endblock %}