{% extends "layout.html" %} 
{% block contentent %}

<body>
    <div class="container">
    <!--Se crean los botones del formulario-->
        <form action="action_page.php" method="get" class="formulario">
            <!--Se coloca el titulo para ingresar al sistema-->
        <h1 class="index_titulo">Crear Producto</h1>
            <!--Etiqueta e input para el nombre del producto-->
            <label for="nombre" class="crear_p_etiquetas" >Nombre producto</label><br>
            <input type="text" id="mi_nombre" name="mi_nombre" placeholder="Nombre producto" class="crear_p_input"><br><br>
            <!--Etiqueta e input para la descripcion del producto-->
            <label for="descrip" class="crear_p_etiquetas">Descrpcion del producto</label><br>
            <input type="text" id="mi_descrip" name="mi_descrip" placeholder="Breve descripcion del producto" class="crear_p_input"><br><br>
            <!--Etiqueta e input para la unidad de medida-->
            <label for="unidad" class="crear_p_etiquetas">Indique la unidad de medida del producto</label><br>
            <input type="text" id="mi_unidad" name="mi_unidad" placeholder="Kg,Mts,Cm..." class="crear_p_input"><br><br>
            <!--Etiqueta e input para la cantidad incial-->
            <label for="cantidad" class="crear_p_etiquetas">Indique la cantidad inicial del producto</label><br>
            <input type="text" id="mi_cantidad" name="mi_cantidad" placeholder="Cantidad inicial debe ser mayor a 0" class="crear_p_input"><br><br>
            <!--Boton para ir al siguiente formulario-->
            <button class="crear_p_boton">
                <a target="_blank" href="EliminarProducto.html"> Aceptar</a>  
            </button><br><br>
            <!--Pendiente como hacer que se vea como un boton-->
            <button class="crear_p_boton">
                <a  href="CrearProducto.html"> Cancelar</a>  
            </button>     
        </form> 
</div>
</body>
{% endblock %}